{% extends 'base.html' %}
{% block content %}
<div class="card shadow-lg">
    <div class="card-header bg-success text-white">
        <h4 class="mb-0">
            <i class="fas {% if object %}fa-edit{% else %}fa-plus-circle{% endif %} me-2"></i>
            {% if object %}Edit{% else %}Create{% endif %} Category
        </h4>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">
                <i class="fas fa-save me-2"></i>Save
            </button>
            <a href="{% url 'vet_supplies:category-list' %}" class="btn btn-secondary ms-2">
                <i class="fas fa-times me-2"></i>Cancel
            </a>
        </form>
    </div>
</div>
{% endblock %}